<div class="screens">
	<div class="screens__tab-content">
		@switch (nav.activeScreen()) {
			@case ('tour-browser') {
				<app-tour-browser-screen></app-tour-browser-screen>
			}
			@case ('active-adventure') {
				<app-active-adventure-screen></app-active-adventure-screen>
			}
			@case ('admin-tour-list') {
				<app-admin-tour-list-screen></app-admin-tour-list-screen>
			}
			@case ('admin-station-editor') {
				<app-admin-station-editor-screen></app-admin-station-editor-screen>
			}
			@case ('user-dashboard') {
				<app-user-dashboard-screen></app-user-dashboard-screen>
			}
		}
	</div>
</div>
