<div class="container-fluid">
  <div class="row welcoming">
    <div class="col align-items-center justify-content-center">
      <h1 class="title">Üdvözlő szöveg címe</h1>
      <h3 class="subtitle">Quos tenetur eum quasi, maxime culpa corrupti eveniet.</h3>
      <div class="text">Maxime deleniti ipsam fugit eligendi, expedita tempore quo. Placeat quisquam cupiditate amet mollitia aperiam, totam neque quas? Quos, voluptate quod. Sequi, quidem.</div>
    </div>
  </div>
  <div class="row introduction align-items-center justify-content-center">
    <div class="col text-1">Non expedita dolore aspernatur aut, odio quae, eum ipsa esse, eveniet cumque numquam nesciunt velit nostrum sed facilis quod assumenda atque rerum.</div>
    <div class="col image-1">
      <div class="img" style="background-color: aliceblue; width: 300px; height: 200px;"></div>
    </div>
    <div class="col text-3">Veniam deserunt minima tenetur necessitatibus laborum! Ullam dolorem atque consectetur consequatur praesentium labore libero perspiciatis tempore voluptas quidem recusandae, sit modi ex. Fuga nostrum pariatur consectetur officiis, a porro perspiciatis ut recusandae asperiores. Voluptatibus maiores quos rerum odit autem ad necessitatibus sunt. Maxime, odio.</div>
  </div>
  <div class="row showroom align-items-center justify-content-center">
    <div class="col">
      <app-small-stroll-card></app-small-stroll-card>
    </div>
    <div class="col">
      <app-small-stroll-card></app-small-stroll-card>
    </div>
    <div class="col">
      <app-small-stroll-card></app-small-stroll-card>
    </div>
  </div>
</div>
