<sb-page-header [title]="'SETTINGS.SECTION_SETTINGS' | translate" />
<div class="settings-page__toggle-row">
	<sb-checkbox [disabled]="true" [label]="'SETTINGS.NOTIFICATIONS_LABEL' | translate" [(ngModel)]="notificationsEnabled" />
</div>
<div class="settings-page__toggle-row">
	<sb-checkbox [label]="'SETTINGS.DARK_MODE_LABEL' | translate" [ngModel]="themeService.isDarkMode()" (ngModelChange)="onDarkModeChange($event)" />
</div>
<sb-button [label]="'SETTINGS.SAVE_SETTINGS' | translate | uppercase" />
