APP_URL=http://localhost:3000
MONGODB_URI=mongodb://127.0.0.1:27017/StrollBar
JWT_SECRET=change-me-in-env
GOOGLE_CLIENT_ID=
GOOGLE_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:3000/auth/google/redirect
FACEBOOK_CLIENT_ID=
FACEBOOK_SECRET=
FACEBOOK_CALLBACK_URL=http://localhost:3000/auth/facebook/redirect
