<section class="stage-detail-editor">
	<div class="stage-detail-editor__header">
		<h1>{{ stage?.name || ('SCREENS.ADMIN_STATION_EDITOR.NEW_STATION_FALLBACK' | translate) }}</h1>
	</div>
	@if (stage; as selectedStage) {
		<form>
			<sb-input [(ngModel)]="selectedStage.name" name="title" [label]="'SCREENS.ADMIN_STATION_EDITOR.TITLE_LABEL' | translate" />
			<sb-input [(ngModel)]="selectedStage.address" name="address" [label]="'SCREENS.ADMIN_STATION_EDITOR.ADDRESS_LABEL' | translate" />
			<div class="stage-detail-editor__coords">
				<sb-input
					type="number"
					[(ngModel)]="selectedStage.latitude"
					name="latitude"
					[label]="'SCREENS.ADMIN_STATION_EDITOR.LATITUDE_LABEL' | translate"
				/>
				<sb-input
					type="number"
					[(ngModel)]="selectedStage.longitude"
					name="longitude"
					[label]="'SCREENS.ADMIN_STATION_EDITOR.LONGITUDE_LABEL' | translate"
				/>
			</div>
			<app-stage-location-map
				[latitude]="selectedStage.latitude"
				[longitude]="selectedStage.longitude"
				(locationSelected)="locationChange.emit($event)"
			></app-stage-location-map>
			<sb-textarea
				[rows]="6"
				[(ngModel)]="selectedStage.description"
				name="story"
				[label]="'SCREENS.ADMIN_STATION_EDITOR.STORY_LABEL' | translate"
			/>
			<app-media-manager
				[imageUrls]="selectedStage.imageUrls"
				[videoUrls]="selectedStage.videoUrls"
				[entityId]="selectedStage.isNew ? null : selectedStage.id"
				purpose="stage"
				(mediaChange)="mediaChange.emit($event)"
			></app-media-manager>
			<sb-input
				[(ngModel)]="selectedStage.riddleAnswer"
				name="correctAnswer"
				[label]="'SCREENS.ADMIN_STATION_EDITOR.CORRECT_ANSWER_LABEL' | translate"
				[placeholder]="'SCREENS.ADMIN_STATION_EDITOR.CORRECT_ANSWER_HINT' | translate"
			/>
		</form>
	}
</section>
