<section class="stroll-details-editor">
	<h2>{{ 'SCREENS.ADMIN_STATION_EDITOR.STROLL_DETAILS_TITLE' | translate }}</h2>
	<sb-input [(ngModel)]="stroll.name" name="strollName" [label]="'SCREENS.ADMIN_STATION_EDITOR.NAME_LABEL' | translate" />
	<sb-textarea
		[(ngModel)]="stroll.description"
		name="strollDescription"
		[rows]="3"
		[label]="'SCREENS.ADMIN_STATION_EDITOR.DESCRIPTION_LABEL' | translate"
	/>
	<div class="stroll-details-editor__row">
		<sb-input [(ngModel)]="stroll.labelsText" name="strollLabels" [label]="'SCREENS.ADMIN_STATION_EDITOR.LABELS_LABEL' | translate" />
		<sb-select
			[(ngModel)]="stroll.status"
			name="strollStatus"
			[label]="'SCREENS.ADMIN_STATION_EDITOR.STATUS_LABEL' | translate"
			[options]="statusOptions"
		/>
		<sb-select
			[(ngModel)]="stroll.publicity"
			name="strollPublicity"
			[label]="'SCREENS.ADMIN_STATION_EDITOR.PUBLICITY_LABEL' | translate"
			[options]="publicityOptions"
		/>
	</div>
	<div class="stroll-details-editor__row">
		<sb-select
			[(ngModel)]="stroll.category"
			name="strollCategory"
			[label]="'SCREENS.ADMIN_STATION_EDITOR.CATEGORY_LABEL' | translate"
			[options]="categoryOptions"
		/>
		@if (stroll.publicity === 'private') {
			<sb-input
				type="number"
				[(ngModel)]="stroll.priceAmount"
				name="priceAmount"
				[label]="'SCREENS.ADMIN_STATION_EDITOR.PRICE_AMOUNT_LABEL' | translate"
			/>
			<sb-select
				[(ngModel)]="stroll.priceCurrency"
				name="priceCurrency"
				[disabled]="true"
				[label]="'SCREENS.ADMIN_STATION_EDITOR.PRICE_CURRENCY_LABEL' | translate"
				[options]="currencyOptions"
			/>
		}
	</div>
	<app-media-manager
		[imageUrls]="stroll.imageUrls"
		[videoUrls]="stroll.videoUrls"
		[entityId]="strollId"
		purpose="stroll"
		(mediaChange)="mediaChange.emit($event)"
	></app-media-manager>
</section>
