<div class="stroll-editor-page">
	@if (loading()) {
		<p class="stroll-editor-page__loading">{{ 'SCREENS.ADMIN_STATION_EDITOR.LOADING' | translate }}</p>
	} @else {
		<app-stroll-details-editor
			[stroll]="stroll"
			[strollId]="strollId"
			[activeStatuses]="activeStatuses"
			[publicityFlags]="publicityFlags"
			[categories]="categories"
			(mediaChange)="onStrollMediaChange($event)"
		></app-stroll-details-editor>
		<div class="stroll-editor-page__workspace">
			<app-stage-list-editor
				[stages]="stages"
				[selectedStageId]="selectedStageId"
				[saving]="saving"
				(stagesChange)="onStagesChange($event)"
				(stageSelected)="selectStage($event)"
				(stageAdded)="addStage()"
				(stageDeleted)="deleteStage($event)"
				(saveRequested)="saveChanges()"
			></app-stage-list-editor>
			<app-stage-detail-editor
				[stage]="selectedStage"
				[strollId]="strollId"
				(mediaChange)="onStageMediaChange($event)"
				(locationChange)="onLocationChange($event)"
			></app-stage-detail-editor>
		</div>
		<div class="stroll-editor-page__feedback">
			@if (saved) {
				<p class="stroll-editor-page__saved"><mat-icon>check_circle</mat-icon>{{ 'SCREENS.ADMIN_STATION_EDITOR.SAVED' | translate }}</p>
			}
			@if (saveError) {
				<p class="stroll-editor-page__error"><mat-icon>error_outline</mat-icon>{{ 'SCREENS.ADMIN_STATION_EDITOR.SAVE_ERROR' | translate }}</p>
			}
			<button mat-flat-button color="primary" [disabled]="saving" (click)="saveChanges()">
				<mat-icon>save</mat-icon
				>{{ (isNewStroll ? 'SCREENS.ADMIN_STATION_EDITOR.CREATE_STROLL' : 'SCREENS.ADMIN_STATION_EDITOR.SAVE_CHANGES') | translate }}
			</button>
		</div>
	}
</div>
