@use 'design' as sb;

:host {
	display: inline-flex;
	flex: 0 0 auto;
	vertical-align: middle;
}

.sb-icon-button__el {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: var(--sb-icon-button-size);
	height: var(--sb-icon-button-size);
	padding: 0;
	color: var(--sb-icon-button-fg);
	border-radius: var(--sb-radius-circle);

	--mat-icon-button-state-layer-size: var(--sb-icon-button-size);
	--mat-icon-button-icon-color: var(--sb-icon-button-fg);
	--mat-icon-button-disabled-icon-color: var(--sb-color-text-muted);

	@include sb.sb-focus-visible;
}

.sb-icon-button__el:hover:not([disabled]) {
	background-color: var(--sb-color-surface-hover);
}

.sb-icon-button__el[disabled] {
	cursor: not-allowed;
	opacity: 0.5;
}

:host([data-size='sm']) {
	--sb-icon-button-size: var(--sb-control-height-sm);
}

:host([data-size='md']) {
	--sb-icon-button-size: var(--sb-control-height-md);
}

:host([data-size='lg']) {
	--sb-icon-button-size: var(--sb-control-height-lg);
}

:host([data-tone='neutral']) {
	--sb-icon-button-fg: var(--sb-color-text-muted);
}

:host([data-tone='primary']) {
	--sb-icon-button-fg: var(--sb-color-primary);
}

:host([data-tone='success']) {
	--sb-icon-button-fg: var(--sb-color-success);
}

:host([data-tone='warning']) {
	--sb-icon-button-fg: var(--sb-color-warning);
}

:host([data-tone='danger']) {
	--sb-icon-button-fg: var(--sb-color-danger);
}

:host([data-tone='info']) {
	--sb-icon-button-fg: var(--sb-color-info);
}
